<!DOCTYPE html>
<html>
<head>
    <title>Eye Tracking Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css_files/homepage.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Eye Tracking Project</h1>
        <div class="intro">
            <p>
                <strong>Eye Tracking Project</strong> is a student-driven research project that explores the intersection of eye tracking, neural feedback, and emotional response to stimulative artworks. Using state-of-the-art gaze detection technology, the project aims to uncover how our minds react to art through subconscious responses.
            </p>
        </div>

        <div class="developer">
            Developed by Bohdan Hnat, 2025
        </div>

        <div class="redirect-button">
            <form action="{{ url_for('calibration') }}" method="post" style="display:inline;">
                <button type="submit">Start Eye Tracking</button>
            </form>
            <form action="{{ url_for('reset_session') }}" method="post" style="display:inline; margin-left: 24px;">
                <button type="submit" class="reset-btn">Reset Session</button>
            </form>
        </div>
    </div>
</body>
</html>

